.page-2{
    background-color: #0082b8;
    z-index: 10;
    .arWrapper{
        overflow: scroll;
        .video-img{
            height: 105%;
        }
    }
    .btn-common{
        width: 30px;
        height: 30px;
        outline: none;
        background: transparent;
        border: none;
        top: 78%;
    }
    .left-btn{
        background-image: url("../assets/images/page2/left-btn.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: 5%;
    }
    .right-btn{
        background-image: url("../assets/images/page2/right-btn.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        right: 5%;
        left: auto;
    }
}