<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!--手机号码不被显示为拨号链接-->
    <meta name="format-detection" content="telephone=no">
    <!-- 浏览器全屏显示-->
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">

    <!-- QQ分享-->
    <meta itemprop="name" content="<%= htmlWebpackPlugin.options.shareTitle %>">
    <meta itemprop="description" content="<%= htmlWebpackPlugin.options.shareDesc %>">
    <meta itemprop="image" content="<%= htmlWebpackPlugin.options.shareImg %>">

    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <section id="loadingBox" class="loading-box">
        <div class="logo-box">
            <div class="adidas"></div>
            <div class="dajie"></div>
        </div>
        <div class="shoes-box animated infinite shoesAni"></div>
        <div id="progressText" class="progress-text">0%</div>
    </section>

    <section id="videoPage" class="video-page">
        <div id="videoBox" class="video-box">
            <video id="videoPlayer" width="480" height="852" poster="//ks3-cn-beijing.ksyun.com/static.toptest.yidianzixun.com/public/file/1505200196927/poster.jpg" src="//ks3-cn-beijing.ksyun.com/static.toptest.yidianzixun.com/public/file/1505198412721/video.mp4"
                x5-video-player-fullscreen="true" x5-video-player-type="h5" webkit-playsinline="" playsinline=""></video>
            <div class="skip-btn"></div>
        </div>
        <div id="videoClick" class="click-message-box" style="display:none;">
            <div class="skip-btn"></div>
        </div>
    </section>
    <section class="content-box">
        <div id="animationBox" class="element-box animation-box" style="display:none;">
            <div class="element-box brick-box">
                <div class="element-box animated fadeIn brick-close"></div>
                <div class="element-box animated scaleAni brick-open"></div>
            </div>
            <div class="element-box animated fadeIn adidas-logo"></div>
            <div class="element-box animated fadeIn slogan"></div>
            <div class="element-box animated fadeIn title"></div>
            <div class="element-box animated scaleAni text1"></div>
            <div class="element-box animated scaleAni text2"></div>
            <div class="element-box animated scaleAni text3">
                <a href="#" class="element-box text1-url"></a>
                <a href="#" class="element-box text2-url"></a>
                <button id="shareHintBtn" class="element-box share-hint-btn"></button>
            </div>
        </div>
        <div class="audio-box audio-open-icon"></div>
        <div id="shareHintPage" class="element-box share-hint-page" style="display:none;">
            <div class="element-box picture"></div>
            <button id="closeHintBtn" class="close-btn"></button>
        </div>
    </section>
    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> -->
    <!-- <script src="//special.dajie.com/html/djappshare/dajieWebViewBridge.js"></script> -->
</body>

</html>