html,
body {
  background: #000000;
}
.loading-box {
  background-image: url("../assets/images/loading/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.loading-box .logo-box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.loading-box .logo-box .adidas {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../assets/images/loading/adidas_logo.png") no-repeat;
  background-size: auto 100%;
  background-position: center left;
}
.loading-box .logo-box .dajie {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../assets/images/loading/dajie_logo.png") no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.loading-box .shoes-box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-timing-function: steps(1);
  animation-timing-function: steps(1);
}
.loading-box .progress-text {
  position: absolute;
  left: 0;
  top: 54%;
  width: 100%;
  height: 20px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
.video-page {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000000;
  opacity: 0;
}
.video-page .video-box {
  width: 100%;
  height: 100%;
}
.video-page .video-box video {
  width: 100%;
  margin: auto 0;
}
.video-page .click-message-box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000000;
  background-image: url("../assets/images/video/hint.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}
.video-page .click-message-box .hand-box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../assets/images/video/circle-3.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}
.video-page .click-message-box .hand-box .hand {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../assets/images/video/hand.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}
.audio-player {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -1000px;
  top: -1000px;
}
.audio-box {
  width: 27px;
  height: 27px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 8;
}
.audio-open-icon {
  background: url("../assets/images/content/m_open.png") no-repeat;
  background-size: 100%;
  background-position: center;
}
.audio-close-icon {
  background: url("") no-repeat;
  background-size: 100%;
  background-position: center;
}
.content-box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.content-box .element-box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.content-box .brick-box .brick-close {
  background: url("../assets/images/content/brick_close.jpg") no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.content-box .brick-box .brick-open {
  background: url("../assets/images/content/brick_open.jpg") no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.content-box .adidas-logo {
  background: url("../assets/images/content/adidas_logo.png") no-repeat;
  background-size: auto 100%;
  background-position: center left;
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
.content-box .slogan {
  background: url("../assets/images/content/slogan.png") no-repeat;
  background-size: auto 100%;
  background-position: center;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.content-box .title {
  background: url("../assets/images/content/title.png") no-repeat;
  background-size: 100% auto;
  background-position: center;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.content-box .text1 {
  background: url("../assets/images/content/text_1.png") no-repeat;
  background-size: 100% auto;
  background-position: center;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.content-box .text2 {
  background: url("../assets/images/content/text_2.png") no-repeat;
  background-size: 100% auto;
  background-position: center;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.content-box .text3 {
  background: url("../assets/images/content/text_3.png") no-repeat;
  background-size: 100% auto;
  background-position: center;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.content-box .text3 .text1-url {
  width: 54%;
  height: 16%;
  top: 46%;
}
.content-box .text3 .text2-url {
  width: 44%;
  height: 16%;
  top: 58%;
  right: 0;
  left: unset;
}
.content-box .text3 .share-hint-btn {
  width: 44%;
  height: 16%;
  border: 0;
  top: 67%;
  background: transparent;
}
.content-box .share-hint-page {
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.7);
}
.content-box .share-hint-page .picture {
  background: url("../assets/images/content/share_hint.png") no-repeat;
  background-size: auto 100%;
  background-position: center right;
}
.content-box .share-hint-page .close-btn {
  width: 43px;
  height: 43px;
  background: url("../assets/images/content/share_close.png") no-repeat;
  background-size: 100%;
  background-position: center;
  position: absolute;
  left: 50%;
  margin-left: -21px;
  bottom: 10%;
  border: 0;
}
